<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
 

  {% block head %}
    <title>Rocketset</title>
  {% endblock %}

</head>
<body>

  <header>
    <div class="links">
      <a href="/">Sobre</a>
      <a href="/portfolio">Portfolio</a>
    </div>
  </header>

{% block content %}


{% endblock %}


 
</body>
</html>