{% extends "layout.njk" %}

{% block head %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

<title>Portfolio - Rocketseat</title>

{% block content %}
  <div id="wrapper">
    <h1>Videos</h1>
  </div>

  <section class="cards">
    <!--VIDEO 01-->
    <div class="card" id="SXSKvUB9wDA">
      <div class="card__image-container">
        <img src="https://img.youtube.com/vi/SXSKvUB9wDA/maxresdefault.jpg" alt="Video 01">
      </div>
      <div class="card__content">
        <p>Pagamento com stripe e NextJS </p>
      </div>
      <div class="card__info">
        <p>44:40min</p>
        <p class="card__price">
          FREE
        </p>
      </div>
    </div>
    <!--VIDEO 02-->
    <div class="card" id="5yJ_cAUrpQc">
      <div class="card__image-container">
        <img src="https://img.youtube.com/vi/5yJ_cAUrpQc/maxresdefault.jpg" alt="Video 02">
      </div>
      <div class="card__content">
        <p>Eu cometi esse erro demais!</p>
      </div>
      <div class="card__info">
        <p>44:40min</p>
        <p class="card__price">
          FREE
        </p>
      </div>
    </div>
    <!--VIDEO 03-->
    <div class="card" id="U7GjS3FuSkA">
      <div class="card__image-container">
        <img src="https://img.youtube.com/vi/U7GjS3FuSkA/maxresdefault.jpg" alt="Video 03">
      </div>
      <div class="card__content">
        <p>SQL no NodeJS com KnexJS</p>
      </div>
      <div class="card__info">
        <p>44:40min</p>
        <p class="card__price">
          FREE
        </p>
      </div>
    </div>
    <!--VIDEO 04-->
    <div class="card" id="BwwOu29K6mE">
      <div class="card__image-container">
        <img src="https://img.youtube.com/vi/BwwOu29K6mE/maxresdefault.jpg" alt="Video 04">
      </div>
      <div class="card__content">
        <p>Transição de imagens com CSS e JS puro</p>
      </div>
      <div class="card__info">
        <p>44:40min</p>
        <p class="card__price">
          FREE
        </p>
      </div>
    </div>
    <!--VIDEO 05-->
    <div class="card" id="KISMYYXSIX8">
      <div class="card__image-container">
        <img src="https://img.youtube.com/vi/KISMYYXSIX8/maxresdefault.jpg" alt="Video 01">
      </div>
      <div class="card__content">
        <p>Context API + Hooks</p>
      </div>
      <div class="card__info">
        <p>44:40min</p>
        <p class="card__price">
          FREE
        </p>
      </div>
    </div>
    <!--VIDEO 06-->
    <div class="card" id="nYLd-i4KA1o">
      <div class="card__image-container">
        <img src="https://img.youtube.com/vi/nYLd-i4KA1o/maxresdefault.jpg" alt="Video 01">
      </div>
      <div class="card__content">
        <p>Melhores momentos - Carreira e mercado</p>
      </div>
      <div class="card__info">
        <p>44:40min</p>
        <p class="card__price">
          FREE
        </p>
      </div>
    </div>
  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
        <i class="material-icons">close</i>
      </a>

      <div class="modal-content">
          <iframe src="" frameborder="0"></iframe>

      </div>
    </div>
  </div>



  <script src="scripts.js"></script>

{% endblock %}