{% extends "layout.njk" %}

{% block head %}
  <title>{{ item.title }}</title>
{% endblock %}

{% block content %}

  <div id="wrapper">
    <h1>{{ item.title }}</h1>
  </div>

  <section class="video">

    <div class="card" id="{{item.id}}">
      <div class="card__image-container {{ 'featured-wrapper' if item.featured }}">
        <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="{{item.title}}">

        {% if item.featured %}
          <div class="featured">Featured</div>
        {% endif %}

      </div>
      <div class="card__content">
        <p>{{item.title}}</p>
      </div>
      <div class="card__info">
        <p>{{item.duration}}</p>
        <p class="card__price">{{item.price}}</p>
      </div>
    </div>

  </section>

{% endblock %}