{% extends "layout.html" %}

{% block head %}

  <title>Portfolio - Gustavo de Castro</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

{% endblock %}

{% block content %}

  <div id="wrapper">
    <h1>Aulas</h1>
  </div>

  <section class="cards">

    <!-- CARD 01 -->

    <div class="card" id="GykTLqODQuU">
      <div class="card_image-container">
        <img src="https://img.youtube.com/vi/GykTLqODQuU/maxresdefault.jpg" alt="Video Aula">
      </div>

      <div class="card_content">
        <p>Formulário animado com JS puro e CSS Animation | Mayk Brito</p>
      </div>
      <div class="card_info">
        <p>57min</p>
        <p class="card_price">Free</p>
      </div>
    </div>

    <!-- CARD 02 -->

    <div class="card" id="vqrjFnq3-uo">
      <div class="card_image-container">
        <img src="https://img.youtube.com/vi/vqrjFnq3-uo/maxresdefault.jpg" alt="Video Aula">
      </div>

      <div class="card_content">
        <p>Criando Player de Áudio com Javascript | Mayk Brito</p>
      </div>
      <div class="card_info">
        <p>1h45min</p>
        <p class="card_price">Free</p>
      </div>
    </div>

    <!-- CARD 03 -->

    <div class="card" id="ghTrp1x_1As">
      <div class="card_image-container">
        <img src="https://img.youtube.com/vi/ghTrp1x_1As/maxresdefault.jpg" alt="Video Aula">
      </div>

      <div class="card_content">
        <p>O que é API? Rest e Restful? | Mayk Brito</p>
      </div>
      <div class="card_info">
        <p>33min</p>
        <p class="card_price">Free</p>
      </div>
    </div>

    <!-- CARD 04 -->

    <div class="card" id="rAzHvYnQ8DY">
      <div class="card_image-container">
        <img src="https://img.youtube.com/vi/rAzHvYnQ8DY/maxresdefault.jpg" alt="Video Aula">
      </div>

      <div class="card_content">
        <p>Array: High order functions | Mayk Brito</p>
      </div>
      <div class="card_info">
        <p>54min</p>
        <p class="card_price">Free</p>
      </div>
    </div>

    <!-- CARD 05 -->

    <div class="card" id="HN1UjzRSdBk">
      <div class="card_image-container">
        <img src="https://img.youtube.com/vi/HN1UjzRSdBk/maxresdefault.jpg" alt="Video Aula">
      </div>

      <div class="card_content">
        <p>Formulário animado com JS puro e CSS Animation | Mayk Brito</p>
      </div>
      <div class="card_info">
        <p>36min</p>
        <p class="card_price">Free</p>
      </div>
    </div>

    <!-- CARD 06 -->

    <div class="card" id="GSqR2i-Pq6o">
      <div class="card_image-container">
        <img src="https://img.youtube.com/vi/GSqR2i-Pq6o/maxresdefault.jpg" alt="Video Aula">
      </div>

      <div class="card_content">
        <p>Desvendando a variável this | Mayk Brito</p>
      </div>
      <div class="card_info">
        <p>48min</p>
        <p class="card_price">Free</p>
      </div>
    </div>

  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
        <i class="material-icons">close</i>
      </a>

      <div class="modal-content">
        <!-- VIDEO AQUI... -->
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div>

  </div>

  <script src="scripts.js"></script>



{% endblock %}