@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap');


:root {
  --color-green:  #50FA7B;
  --color-rocket: #7159c1;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #282A36;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

header {
  padding: 32px;
  border-bottom: 1px solid #333;
  background: rgba(0, 0, 0, 0.1);
}

.links {
  text-align: center;
}

.links a {
  color: white;
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;
  text-decoration: none;
}


.links a:hover {
  color: var(--color-green);
  transition: color 500ms;
}

#wrapper {
  text-align: center;
  padding: 32px;
}

#wrapper img {
  border-radius: 50%;
  border: 5px solid var(--color-green);
  margin-bottom: 32px;
  height: 200px;
}

#wrapper h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
}

#wrapper h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.8;
}

#wrapper p {
  max-width: 500px;
  margin: 32px auto;
  font-size: 24px;
  line-height: 34px;
}

#wrapper p a {
  color: var(--color-green); 
}

#links-footer {
  margin-bottom: 30px;
}
#links-footer a {
 border-bottom: 1px var(--color-green) solid;
}

/*=== CARDS ===*/

.cards {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 6
  0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: var(--color-rocket);
}

.card__image-container img {
  width: 100%;
}

.card__content,
.card__info {
  padding: 24px;
}

.card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__price {
  background-color: var(--color-rocket);
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal .close-modal {
  color: black;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

iframe {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 5%;
}
