@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #282A36;
  font-family: 'Roboto', sans-serif;
  color: white;
}

header {
  background: rgba(0, 0, 0, 0.247);
  padding: 30px;
  border-bottom: 1px solid #50FA7B;
}

/* === Header === */

.links {
  text-align: center;
  padding: 10px;
}

.links a {
  text-decoration: none;
  font-weight: normal;
  color: white;
  padding: 30px;
  font-size: 18px;
  line-height: 28px;
}

.links a:hover {
  color: #50FA7B;
  transition: 600ms;
  font-weight: bold;
}

/* === SOBRE === */

.sobre {
  text-align: center;
}

.sobre img {
  border-radius: 50%;
  width: 200px;
  margin-top: 50px;
  border: 3px solid #50FA7B;
}

.sobre h1 {
  padding-top: 30px;
  font-size: 38px;
  line-height: 48px;
  font-weight: bold;
}

.sobre h2 {
  font-size: 22px;
  line-height: 32px;
  font-weight: normal;
  opacity: 0.7;
}

.sobre ul {
  margin: 0 auto;
  list-style: none;
  max-width: 200px;
  padding-top: 20px;
  font-size: 18px;
  line-height: 28px;
}

.midias-sociais {
  text-align: center;
  padding-top: 30px;
}

.midias-sociais a {
  text-decoration: none;
  color: white;
  margin-left: 30px;
}

.midias-sociais a:hover {
  color: #50FA7B;
  transition: 600ms;
}

/*=== CARD === */

.cards {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 40px;
}

.card {
  background-color: white;
  color: black;
  border-radius: 8px;
}

.card__image-container img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 2px solid #50FA7B;
}

.card__title {
  padding: 10px 5px;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
}

.card__author {
  padding-left: 10px;
}

.card__time {
  padding-left: 10px;
  padding-bottom: 10px;
}

/* === MODAL ==*/

.modal-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal .close-modal {
  color: black;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

/* === MODAL ACTIVE ==*/
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

/*=== IFRAME === */

iframe {
  width: 100%;
  height: 90%;
}