@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #282A36;
  font-family: 'Roboto', sans-serif;
}

header {
  background: rgba(0, 0, 0, 0.247);
  padding: 30px;
  border-bottom: 1px solid #50FA7B;
}

.links {
  text-align: center;
  padding: 10px;
}

.links a {
  text-decoration: none;
  font-weight: normal;
  color: white;
  padding: 30px;
  font-size: 18px;
  line-height: 28px;
}

.links a:hover {
  color: #50FA7B;
  transition: 600ms;
  font-weight: bold;
}