@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #dbe2ef;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: #3f72af;
}

.links {
  text-align: center;
}

.links a {
  margin: 0 30px;
  color: white;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
}

.links a:hover {
  color: #50fa7b;
  transition: 500ms;
}

.wrapper {
  text-align: center;
}

.wrapper h1 {
  font-size: 32px;
  line-height: 42px;
  margin-top: 20px;
}

.wrapper h2 {
  font-size: 22px;
  line-height: 32px;
  margin-top: 10px;
}

.wrapper ul {
  margin-top: 20px;
}

.wrapper img {
  border-radius: 50%;
  width: 200px;
  margin-top: 30px;
  border: 5px solid #50fa7b;
}

.social-media {
  text-align: center;
  margin-top: 60px;
}

.social-media a {
  padding: 20px;
  text-decoration: none;
  font-size: 24px;
  color: #3f72af;
}

.social-media a:hover {
  color: #0b3971;
  transition: 500ms;
}