@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
  --color-main: #111111;
  --color-pink: #FBDFDB;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-main);
}

.container {
  width: 940px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

/* ==== MAIN NAV ==== */
header {
  padding: 36px 0 30px 0;
  display: grid;
  grid-template-columns: 90.6px auto;
  gap: 122.4px;
  align-content: center;
  align-items: center;
}

header .logo img{
  height: 27px;
}

header .menu a {
  padding: 0 15px;
  color: var(--color-main);
  font-size: 16px;
}

header .menu a.active {
  font-weight: 700;
}

/* ==== HOMEPAGE BANNER ==== */
#home__banner {
  background: var(--color-pink);
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#home__banner .home__banner-text {
  align-self: center;
  width: 316px;
  margin-left: 60px;
}

#home__banner .home__banner-text h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 10px;
}

#home__banner .home__banner-text p {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
}

#home__banner img {
  height: 300px;
  margin-top: 66px;
  margin-right: 100px;
  justify-self: end;
}

/* ==== HOME FEATURED RECIPES ==== */
#featured {
  margin-top: 50px;
}

#featured h2 {
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cards .card {
  cursor: pointer;
}

.cards .card .card__image img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.cards .card .card__title p {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 5px;
}

.cards .card .card__author p {
  color: #777777;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}

/* ==== FOOTER ==== */
#footer {
  height: 62px;
  background: #eeeeee;
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  display: grid;
  align-content: center;
}

/* ==== ABOUT PAGE ==== */
#about h2 {
  margin: 20px auto;
}

#about h3 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

#about p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 30px;
  font-weight: 400;
}

/* ==== RECIPES PAGE ==== */
#recipes {
  margin-top: 20px;
}

/* ==== MODAL ==== */
.modal-overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-container {
  background: #fff;
  padding: 30px;
  width: 660px;
  height: 413px;
  border-radius: 16px;
  text-align: center;
}

.modal-content img {
  border-radius: 15px;
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.modal-content .card__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 5px;
}

.modal-content .card__author {
  color: #777777;
  font-size: 18px;
  line-height: 21px;
}

.close {
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
  font-weight: 400;
  margin-top: 60px;
  cursor: pointer;
}