@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: Arial;
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  background: tomato;
  max-width: 940px;
  margin: 0 auto;
}