{% extends "layout.njk" %}

{% block content %}

  <form class="card" method="POST" action="/teachers">

    <section 
      class="avatar" 
      style=
      "background: url(https://source.unsplash.com/collection/430456/500x500) no-repeat center center / cover">
    </section>
    
    <section class="details">
      <h3>New Teacher</h3>

      <div class="item">
        <div>Avatar URL:</div>
        <div>
          <input 
            type="url" 
            name="avatar_url"
            placeholder="http://">
        </div>
      </div>

      <div class="item">
        <div>Nome Completo:</div>
        <div>
          <input 
            type="text" 
            name="name"
            placeholder="Digite seu nome">
        </div>
      </div>

      <div class="item">
        <div>Data de Nascimento:</div>
        <div>
          <input 
            type="date" 
            name="birth" >
        </div>
      </div>

      <div class="item">
        <div>Grau de Escolaridade:</div>
        <div class="custom-select" >
          <select name="scholarity">
            <option value="medio" name="medio">Ensino Médio Completo</option>
            <option value="superior" name="superior">Ensino Superior Completo</option>
            <option value="mestrado" name="mestrado">Mestrado</option>
            <option value="doutorad" name="doutorado">Doutorado</option>
          </select>
        </div>
      </div>

      <div class="item">
        <div>Tipo de Aula</div>
        <div>
          <span><input type="radio" name="tipo" value="presencial">Presencial</span>
          <span><input type="radio" name="tipo" value="distancia">À distância</span>
        </div>
      </div>

      <div class="item">
        <div>Área de atuação:</div>
        <div>
          <input 
            type="text" 
            name="services"
            placeholder="Digite as matérias dadas separadas por vírgula">
        </div>
      </div>

      <button type="submit">Salvar</button>
    
    </section>
  </form>


{% endblock content %}