{% extends "layout.njk" %}

{% block content %}

  <div class="card">
  <!--Card
    Esse componente deve ser divido em duas seções: imagem e detalhes. As seguintes informações são obrigatórias:

    Imagem randômica de uma coleção de professores (utilize a api do unsplash);
    Nome completo;
    Idade;
    Grau de escolaridade (ex.: Doutorado);
    Tipo de aula (presencial ou à distância);
    Acompanhamento (ex.: Matemática e Física);
    Desde (data de cadastro na plataforma). -->

    <section class="avatar">
    </section>
    <section class="details">
    </section>
  </div>


{% endblock content %}