{% extends "layout.njk" %}
{% block content %}


  <div class="card">

    <section 
      class="avatar" 
      style=
      "background: url({{ teacher.avatar_url }}) no-repeat center center / cover">
    </section>
    
    <section class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Nome</div>
        <div>{{ teacher.name }}</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>{{ techer.birth}}</div>
      </div>

      <div class="item">
        <div>Grau de Escolaridade</div>
        <div>{{ teacher.scholarity}}</div>
      </div>

      <div class="item">
        <div>Tipo de aula</div>
        <div>{{ teacher.tipo }}</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          {% for service in services %}
          <span>{{ service }}</span>
          {% endfor %}
        </div>
      </div>

       <div class="item">
        <div>Desde</div>
        <div>{{ techer.created_at }}</div>
      </div>

    
    </section>
  </div >
{% endblock content %}