@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


:root {
  --primary-color: #7159c1;
}
*{
  margin: 0;
  padding: 0;
  border: none;

}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
}

header {
  background-color: white;
  width: 100%;
  padding: 32px;
  text-align: center;
  box-sizing: border-box;
}

.links {
  font-size: 22px;
}

.links a + a {
  margin-left: 32px;
}

.links a {
  text-decoration: none;
}

.links a {
  text-decoration: none;
  color: #777;
  position: relative;
}

.links a.active {
  font-weight: bold;
  color: var(--primary-color);
}

.links a:hover {
  color: var(--primary-color);
}

.links a:hover::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}
