@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap');


:root {
  --color-green:  #50FA7B;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #282A36;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

header {
  padding: 32px;
  border-bottom: 1px solid #333;
  background: rgba(0, 0, 0, 0.1);
}

.links {
  text-align: center;
}

.links a {
  color: white;
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;
  text-decoration: none;
}


.links a:hover {
  color: var(--color-green);
  transition: color 500ms;
}

#wrapper {
  text-align: center;
  padding: 32px;
}

#wrapper img {
  border-radius: 50%;
  border: 5px solid var(--color-green);
  margin-bottom: 32px;
  height: 200px;
}

#wrapper h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
}

#wrapper h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.8;
}

#wrapper p {
  max-width: 500px;
  margin: 32px auto;
  font-size: 24px;
  line-height: 34px;
}

#wrapper p a {
  color: var(--color-green); 
}

#links-footer {
  margin-bottom: 30px;
}
#links-footer a {
 border-bottom: 1px var(--color-green) solid;
}