@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #282A36;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  padding: 32px;
  border-bottom: 1px solid #333;
  background: rgba(0, 0, 0, 0.1);
}

header div {
  text-align: center;
}

header div a {
  color: white;
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;
  text-decoration: none;
}


header div a:hover {
  color: #50FA7B;
  transition: color 500ms;
}
