@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
  --primary-color: #7159C1;
}
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: white;
  width: 100%;
  padding: 32px;
  text-align: center;
  box-sizing: border-box; /*respeita o limite do 100% e nao soma */
}

.links {
  font-size: 22px;
  
}

.links a + a {
  margin-left: 32px;

}

.links a {
  text-decoration: none;
  color: #777;
  font-weight: regular;
  position: relative;
}

.links a.active {
  font-weight: bold;
  color: var(--primary-color);
}

.links a:hover {
  color: var(--primary-color);
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.links a:hover::after {
  width: 100%;
  transition: width 700ms ease-in-out ;
}



