@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap";

:root {
  --color-green:  #50fa7b;
}
* {
  margin: 0px;
  padding: 0;
  border: 0;

}

body {
  background: #282a36;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  padding: 32px;
  border-bottom: 1px solid #333;
  background: rgba(0, 0, 0, 0.1);
}

.links {
  text-align: center;
}

.links a {
  color: white;
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;
  text-decoration: none;
}

.links a:hover {
  color: var(--color-green);
  transition: 500ms;
}

#wrapper {
  text-align: center;
  padding: 32px;
}

#wrapper img {
  border-radius: 50%;
  height: 250px;
  border: 5px solid var(--color-green);
  margin-bottom: 32px;
}

#wrapper h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
}

#wrapper h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.8;
}

#wrapper p {
  max-width: 600px;
  margin: 32px auto;
  font-size: 24px;
  line-height: 34px;
}

#wrapper h2 a {
  color: var(--color-green);
}

#links-footer a {
  border-bottom: 1px solid var(--color-green);
}

