@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
body {
  background: #98ACEF;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 30px;
  border-bottom: 1px solid #333;
  text-align: center;
}

header div a {
  color: white;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 30px;
}

header div a:hover {
  color: #84E67D;
  transition: color 700ms;

}