<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
  

  {% block head %}
  <title>Gustavo Castro</title>
  {% endblock %}


</head>
<body>
  <header>
    <div class="links">
      <a href="/">Sobre</a>
      <a href="/port">Aulas</a>
    </div>
  </header>

  {% block content %}
    <!--Insere tudo que esta vindo da pagina about html-->
  {% endblock %}
  
</body>
</html>

